/* Base Typography */
body {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    font-size: 1.6rem;
    line-height: 1.5;
    color: #121212;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

.h0 { font-size: 4rem; }
.h1 { font-size: 3rem; }
.h2 { font-size: 2.4rem; }
.h3 { font-size: 2rem; }
.h4 { font-size: 1.6rem; }
.h5 { font-size: 1.4rem; }
.h6 { font-size: 1.2rem; }